/*
Selector universal
*{
}

Selector de etiqueta
header{
}

selector descendente
article h3{
}

selectores de clase
.title-a{
}

selector de id
#guitarra{
}
*/
.titulo{
  font-size: 70px;/*Tamaño de la fuente*/
}
.title-a{
  font-size: 24px;
}
.title-b{
  font-size: 50px;
}
.guitarras{
  color: #1F313C;
}
.guitarras h2{
  font-size: 35px;
}
.portada{
  background-image: url('../images/background.png'); /*Imagenes de fondo*/
  color: white;/*Todos las fuentes hijas heredan fuente blanca*/
}
.menu{
  font-size: 24px;
}
