@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5jrugc');
  src:  url('../fonts/icomoon.eot?5jrugc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5jrugc') format('truetype'),
    url('../fonts/icomoon.woff?5jrugc') format('woff'),
    url('../fonts/icomoon.svg?5jrugc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}

/*
Selector universal
*{
}

Selector de etiqueta
header{
}

selector descendente
article h3{
}

selectores de clase
.title-a{
}

selector de id
#guitarra{
}
*/

/* font-family: 'Montserrat', sans-serif;
font-family: 'Allerta', sans-serif;
*/
/* *{ Para entender el modelo de caja
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
} */
body{
  font-family: 'Allerta', sans-serif;/*configura el tipo de fuente*/
  margin: 0;
}
table{
  width: 100%;
}
th{
  background: #273B47;
  color: white;
  padding: 10px 20px;
  text-align: left;
}
td{
  padding: 20px;
}
table, td, th{
  border: 1px solid #273B47;
  border-collapse: collapse;
}
input, textarea{/* para que no resalten los inputs */
  outline: 0;
}
input:focus, textarea:focus{/* oscurece el fondo de los input */
  background: lightgray;
}
.contenedor{
  max-width: 800px;
  margin: auto;  /* se va posicionar de manera centrada */
  position: relative;
}
.background{
  background-color: #466173;
  background-image: url('../images/background.png');
  background-size: cover;
}
.button{
  border-radius: 12px;
  border: none;
  background: #FD324E;
  color: white;
  padding: 7px 12px;
  cursor: pointer;/* Cada vez que el mouse pase por el boton el icono del cursor cambia a una mano */
  text-decoration: none;
  font-size: 18px;
  background: linear-gradient(to left,#FE344E,#FF7250);
}
.titulo{
  font-size: 70px;/*Tamaño de la fuente*/
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin-top:
}
.titulo span{
  text-decoration: underline;/* subraya ciertas letras */
}
.title-a{
  font-size: 24px;
  margin-top: 0;
}
.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}
.guitarras{
  color: #1F313C;
  margin-bottom: 60px;
   /* !important; */
}
.guitarras h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}
.portada{
  background-image: url('../images/background.png'); /*Imagenes de fondo*/
  background-size: cover;/* ajusta la imagen todo el tamaño disponible */
  color: white;/*Todos las fuentes hijas heredan fuente blanca*/
  padding: 20px;
  height: 500px;
}
.portada button{
  margin-bottom: 70px;
}
.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}
.menu li{
  display: inline-block;
  margin-left: 30px;
}
.menu li:before{/* no va indexar mal por los simbolos */
  content: '∘';
  font-size: 25px;
  /* line-height: 10px; */
  color: white;
}
.menu a{
  color: white;
  text-decoration: none;/* quita el subrayado */
}
.logotipo{
  display: inline-block;
  margin-left: 0;
}
.guitarra{
  margin: 10px 10px 40px 10px;
  padding: 10px;
  /* overflow: hidden; */
  border: 1px solid #1F313C;
  border-radius: 8px;
}
.guitarra ol{
  padding: 0px;
}
.guitarra.b{
  height: 190px;
}
.derecha{
  float: right;
  position: relative;
  top: -127px;
}
.izquierda{
  float: left;
  position: relative;
  /* top: 80px; */
}
.contenedor-guitarra-a{
  padding-left: 20px;
}
.contenedor-guitarra-b{
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}
.header{
  position: relative;
}
.footer{
  background: #273B47;
  padding: 50px 10px;
}
.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}
.contacto img{
  display: block;
}
.contacto strong{
  display: block;
}
.contacto a{
  color: white;
  text-decoration: none;/* quita decoracion del texto como subrayado */
  margin: 10px 10px 10px 0;
}
.footer .contenedor{
  display: flex;
  justify-content: space-between;
}
.formulario{
  display: flex;
  width: 400px;
  color: white;
  /* padding: 50px 10px; */
}
.col1, .col2{
  display: flex;
  flex-direction: column;
}
.col1{
  margin-right: 15px;
}
.col2{
  align-items: flex-start;
}
.col2 .button{
  margin-top: 15px;
}
.intereses label{
  font-size: 12px;
}
.formulario label, .sexo, .intereses{
  margin-bottom: 10px;
}
.sexo{
  margin-top: 10px;
}
.tabla{
  margin: 50px 0;
}
.burguer-button{
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 3;
}
@media screen and (max-width:800px)
{
    /* .contenedor{
      width: auto;
      max-width: 800px;
    } */
    /* body{
      border: 10px solid red;
    } */
    /* Portada */
    .titulo{
      font-size: 45px;
      margin-top: 30px;
    }
    .title-a{
      font-size: 18px;
    }
    .portada{
      height: auto;/* resetea */
    }
    .portada .button{
      margin-bottom: 30px;
      display: inline-block;
    }
    /* Portada */

    /* guitarras */
    .guitarras{
      text-align: center;
    }
    .izquierda, .derecha{
      float: none;
      position: static;
    }
    .title-b{
      margin: 0;
    }
    .guitarras li{
      list-style: none;
    }
    .guitarra.b{
      height: auto;
    }
    .contenedor-guitarra-b{
      position: static;
      margin: 0;
    }
    .contenedor-guitarra-a{
      padding: 0;
    }
    /* guitarras */
}
@media screen and (max-width:767px) {
  /* footer */
  .footer .contenedor{
    display: block;
  }
  .contacto{
    margin: 0 auto;
  }
  .formulario{
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .intereses label{
    display: block;
    font-size: 16px;
  }
  .col1{
    margin: 0;
  }
  input[type="text"],
  input[type="email"]{/* selector de atributo */
    font-size: 16px;
    padding: 5px;
  }
  textarea{
    width: 100%;
  }
  input[type="radio"],
  input[type="checkbox"]{
    zoom: 1.5;
  }
  /* footer */
}
@media screen and (max-width: 650px){
  .header{
    text-align: center;
  }
  .logotipo{
    margin: 0;
  }
  .menu{
    position: static;
    display: block;
    text-align: center;
  }
  .menu li:first-child{/* afecta solo al primer elemento de la lista */
    margin: 0;
  }
  .menu ul{
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  /* Portada */
  .portada .contenedor{
    position: static;
  }
  .menu{
    background: rgba(255, 60, 88, 0.8);
    /* background: #FF3C58; */
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 2;/* configura en que nivel esta de la pantalla */
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: 300ms;
  }
  .menu.active{
    left: 0;
  }

  .menu ul{
    flex: 1;/* hace que todo el menu ocupe todo el espacio disponible */
  }
  .menu li{
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
  .menu li:before{/* oculta pseudoelemento de menu */
    display: none;
  }
  .menu li:first-child{
    border-top: 1px solid white;
  }
  .portada{
    text-align: center;
  }
  .titulo{
    font-size: 30px;
  }
  /* Portada */
  /* guitarras */
  .guitarra img{
    width: 200px;
  }
  .title-b{
    font-size: 30px;
  }
  /* guitarras */
}
video{
  width: 100%;
}
.video-responsive-contenedor{
  position: relative;
  padding-top: 56.25%;
}
.video-responsive-src{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .background{
    background-image: url('../images/background2x.png');
  }
}
